<div class="lend_day_new">
	<h1>貸し出し日の編集</h1>
	<div class="profile_picture_box">
	</div>
	<div class="lend_day_bicycle">
		<p>商品名</p>
		<%= @bicycle.name %>
		<p>貸し出し場所</p>
		<% @lend_spot.each do |l| %>
			<%= l.lend_spot %>
		<% end %>
		<p>返却場所</p>
		<% @return_spot.each do |r| %>
			<%= r.return_spot %>
		<% end %>
		<div id="calendar"></div>
	</div>
</div>