// Place all the styles related to the admin/new_owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_user_new_edit{
	width: 60%;
	margin: 0 auto;
	background-color: #fef4e3;
	font-size: 30px;
}
.admin_user_new_content{
	padding-left: 20%;
}
.proof_picture{
	height: 200px;
	width: 200px;
	margin: 50px;
}
.admin_user_contents{
	border: 1px solid #000000;
	background-color: #f5f6f5;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	float: left;
	margin-left: 10%;
}
.admin_user_new_btn{
	margin: 20px 10% 20px 10%;
	float: left;
}
.admin_user_new_btn input{
	padding: 10px 20px;
}
.admin_user_new_btn a{
	padding: 10px 20px;
}