// Place all the styles related to the admin/owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// owner一覧画面
.admin_user_index{
	width: 80%;
	margin: 0 auto;
	background-color: #5bd9fd;
}
.admin_user_path{
	height: 30px;
	width: 100%;
}

// ownerマイページ画面
.admin_owner_show_delete{
	width: 80%;
	height: 80px;
	border: 1px solid #000000;
	margin: 50px auto;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
    border-radius: 10px;
    color: red;
    background-color: #424242;
}