<div class="nested-fields">
    <%= attachment_image_tag f, :bicycle_picture, fallback: "img2.png", class: 'profile_picture'  %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "削除" %>
</div>