<div class="bicycle_new">
	<h1>出品登録</h1>

	<%= form_for(@bicycle,url: owner_bicycles_path) do |f| %>
		<%= f.label :自転車の商品名 %>
		<%= f.text_field :name %>


		<%= f.submit value: "出品を申し込む" %>
	<% end %>
</div>