// Place all the styles related to the owner/bicycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bicycle_new{
	width: 40%;
	margin: 50px auto;
	background-color: #fef4e3;
	padding: 30px 100px;
}