// Place all the styles related to the owner/owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ画面
.owner_show{
	background-color: #d3fcff;
	width: 80%;
    margin: 0 auto;
    border: 1px solid #ffffff;
    padding: 100px 10%;
}
.owner_show h1{
	font-size: 50px;
    line-height: 70px;
}
.owner_show h4{
	padding-left: 40%;
}
.owner_information p{
	font-size: 20px;
	padding-left: 25%;
}
.profile_picture_box{
	float: left;
}
.profile_picture{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: #ffffff;
}
.owner_edit_link{
	float: right;
	padding-right: 10%;
}
.payee_edit_link{
	float: right;
	padding-right: 10%;
}
.owner_show_new_bicycle{
	width: 80%;
	height: 80px;
	border: 1px solid #000000;
	margin: 50px auto;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
    border-radius: 10px;
    background-color: #ffe0da;
}
.owner_show_bicycle_index{
	width: 80%;
    margin: 0 auto;
	padding: 2% 20px;
	background-color: #d0ffd1;
}
.owner_show_bicycle_box{
	width: 100%;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #fffcdd;
	margin: 20px 0;
}
.owner_show_bicycle{
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	padding: 20px 0;
}
.owner_show_bicycle_content{
	height: 150px;
}
.owner_show_bicycle_content_text{
	font-size: 35px;
	float: left;
}
.owner_bicycle_picture_box{
	float: left;
	height: 150px;
}
.owner_bicycle_picture{
	height: 150px;
	width: 150px;
}
.owner_show_bicycle_link{
	float: right;
}
.owner_show_bicycle_link_btn{
	padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
    line-height: 60px;
}
#owner_show_calendar{
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
.owner_show_lend_day_link{
	width: 100%;
	margin: 10px 0;
	text-align: center;
}
.owner_show_paginate{
	font-size: 30px;
    width: 50%;
    margin: 0 auto;
}

.owner_show_unsubscribe_link{
	text-align: right;
}
.owner_show_unsubscribe_link a{
	font-size: 20px;
	padding: 30px
}
// edit画面
.owner_edit{
	background-color: #d3fcff;
	width: 60%;
    margin: 100px auto;
    border: 1px solid #ffffff;
    padding: 30px 10%;
}
.owner_edit_form{
	margin-left: 10%;
	margin: 10px 0;
}
.owner_edit_submit{
	text-align: center;
}