// Place all the styles related to the owner/owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show画面
.owner_show{
	background-color: #d3fcff;
	width: 80%;
    margin: 0 auto;
    border: 1px solid #ffffff;
}
.profile_picture_box{

}
.profile_picture{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: #ffffff;
}