<div class="about">
	<div class="about_box">
		<div class="explanation_title">
			<h1 class="">サイト概要</h1>
		</div>
		<div class="explanation">
			<p>
				こちらのサイトは普段使わない自転車のシェアリングサイトです。<br>
				自宅にある使っていない自転車を貸し出しや自転車を使いたくなった時の<br>
				借り出しが出来るサイトです。<br>
				貸し出し時間は9時から18時を規定とさせて頂きます。<br>
				不都合がある際は利用者様やオーナー様に問い合わせ下さい。<br>
				<br>
				当サイトでは不正防止の為、会員登録の際の身分証の確認の為身分証明書の<br>
				写真を送って頂きます。<br>
				また、オーナー様には自転車の出品の際、本人の確認の為、販売証明書の<br>
				写真を行なっております。<br>
				予めご了承下さいませ。<br>
				<br>
				また、自転車の購入者がご家族の場合がある為、オーナー様の会員情報の<br>
				住所と同じ住所であり、同一の苗字である場合は登録の許可をいたします。<br>
				<br>
				また貸し出しの際のトラブルや、返却の際のトラブルは当サイトは<br>
				一切の責任を負い兼ねますので予めご了承下さいませ。<br>
				<br>
				詐欺や迷惑行為など無く、正しくご利用下さい。<br>
			</p>
			<div class="about_top ">
				<%= link_to '同意する', top_path, class: 'btn btn-danger' %>
			</div>
		</div>
	</div>

</div>