<div class="city_top_img"></div>
<div class="city">
		<div class="city_title">
			<h1 class="">利用地域</h1>
		</div>
		<div class="">
			<h3 class="">利用したい地域を選択してください。</h3>
			<% @city.each do |c| %>
				<%= link_to(:controller=>"root",:action=>"bicycle_index", id: c.id) do %>
					<div class="city_name city_name_box">
						<%= c.city_name %>
					</div>
				<% end %>
				<br>
			<% end %>
		</div>
</div>