<div class="wait">
	<h1>申し込みありがとうございます。</h1>
	<p>
		申し込みいただきありがとうございます。<br>
		管理者が確認後承認されましたらご利用いただけます。<br>
		承認には3日程いただいております。<br>
		しばらくお待ちください。<br>
		入力内容が不適切だった場合申し込みを削除いたします。<br>
		３日後以降に登録されていない場合、登録内容を確認の上<br>
		再度申し込みください。
	</p>
	<div class="wait_link">
		<%= link_to 'トップ画面に戻る', top_path, class: 'btn btn-success'  %>
	</div>
</div>