/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "slick-theme"; 
@import "slick";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 100px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
body{
	background-image: url(img6.png);
}
h1{
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
}


// ヘッダー
header{
	background-color: #d6ffc8;
}
.header_logo{
	float: left;
	padding: 9px 30px;
    font-size: 50px;
}
.header_name{
	float: left;
    line-height: 93px;
    font-size: 30px;
}
.header_link{
	float: right;
	padding: 31px 10px;
    font-size: 20px;
}

// フッター
footer{
	background-color: #dbdbdb;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.footer_box{
	font-size: 15px;
	line-height: 100px;
	padding-left: 20%;
}
.footer_text{
}

// owner 新規登録画面
.sign_up{
	width: 50%;
	margin: 50px auto;
	background-color: #fef4e3;
	padding: 30px 100px;
}

.sign_up h3{
	line-height: 50px;
	text-align: center;
	font-size: 25px;
}
.sing_up_form{
	margin-left: 30px;
}
.form_left{
	float: left;
}
.form_center{
	text-align: center;
}

// owner ログイン画面
.sign_in{
	width: 40%;
    margin: 150px auto;
    background-color: #fef4e3;
    padding: 50px 100px;
    height: 500px;
}

// flashメッセージ
.flash{
	font-size: 20px;
	text-align: center;
}