// Place all the styles related to the user/contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 契約画面
.contract_new{
	width: 80%;
	margin: 50px auto;
	background-color: #fef4e3;
	padding: 30px 100px;
	font-size: 20px;
}
.contract_new_form{
	padding-left: 10%;
}
.contract_new h2{
	text-align: center;
	margin: 30px 0;
}
.total_price{
	float: left;
	width: 50%;
	color: red;
}
.contract_new_submit{
	margin-top: 30px;
	text-align: center;
}
.contract_new_submit input{
	font-size: 20px;
	padding: 30px;
}

// 契約確認画面
.contract_confirm{
	width: 80%;
	margin: 50px auto;
	background-color: #fef4e3;
	padding: 30px 100px;
	font-size: 30px;
}
.contract_confirm h2{
	text-align: center;
	margin: 20px 0;
	line-height: 30px;
}
.contract_confirm h3{
	padding-left: 10%;
	margin-top: 20px;
}
.contract_confirm p{
	text-align: center;
}
.contract_picture{
	width: 350px;
	height: 350px;
	background-color: #ffffff;
	float: left;
	margin-left: 10%;
}
.contract_confirm_accessory{
	margin: 10px 0 10px 5%;
	width: 20%;
	float: left;
	padding-left: 2%;
	border: 1px solid #000000;
	background-color: #f2fbff;
	border-radius: 10px;
	font-size: 25px;
}
.contract_confirm_day{
	width: 45%;
	margin: 10px 0 10px 5%;
	padding-left: 2%;
	float: left;
	background-color: #ecf0e7;
	border: 1px solid #000000;
	border-radius: 10px
}
.contract_confirm_back{
	text-align: center;
	margin: 100px 0;
}
.contract_confirm_back input{
	padding: 30px;
	font-size: 20px;
	text-align: center;
}
.contract_confirm_submit input{
	font-size: 200px;
	text-align: center;
	margin: 20px 10%;
    padding: 50px 0;
    width: 80%;
}

